 @import url("components/container.css");
 @import url("components/banner.css");
  @import url("components/avatar.css");


 .container{
box-shadow: 0px 10px 30px 

 width: 850px;
  margin: 100px auto;
  background-color: white;
  }


  @media (max-width: 500px) {
  .container{
  
  }

}

@media (max-width: 720px) {

	.container{
		width: 500px; 
	}
}

@media (max-width: 540px) {

	.container{
		width: 300px; 
	}
}




 h1, h2, h3 {

 	font-family: Roboto, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: .2em;
    color: black;
    margin: 50px;
    align-content: center;
    text-align: center;
 


 }

a {
	text-decoration: none;
}




 p {

 	font-family: "Lato",sans-serif;
 	font-style: red;
 }


a.button {
padding: 10px 30px; 
background: black; 
color: white; 
}




button {
	font-family: Roboto, sans-serif;
 	font-style: white;
 	text-align: right;
	margin-right: -130px;
	font-weight: lighter;
}


.card {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
}

.list-inline {

	list-style: none;
	padding-left: 0px
}

.list-inline {

	display: inline;
	padding: 10px;
}





a {
	text-decoration: none;
	color: #4392F1;
    text-align: center;


 }


a:hover {
	color: red;
	text-decoration: none;
	text-decoration: underline;
    text-align: center;
}


.footer {
	align-content: center;
	align-items: center;
	margin: 50px;
}

.cards {
  display: flex;
	flex-wrap: wrap;
}
.card{
  flex-basis: 200px;
	flex-grow: 5;
	margin: 60px;
}
